.filter-section {
  margin-bottom: 20px;
  border-bottom: 1px solid #E3E6F3;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
}

.filter-section:last-child {
  border-bottom: none;
}

.filter-section h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 15px;
  color: var(--text-color);
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

.filter-section h3 i {
  /* transition: transform 0.2s ease; */
  color: #6B7280;
  pointer-events: none;
  display: inline-block;
  transform: rotate(180deg)
}

.filter-section h3 i.rotated {
  transform: rotate(0deg);
}

.filter-section .filter-content {
  /* transition: max-height 0.3s ease-out; */
  overflow: hidden;
  max-height: 200px;
  position: relative;
  z-index: 1;
}

.filter-section .filter-content.collapsed {
  max-height: 0 !important;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  display: none;
}

.filter-section .filter-content.expanded {
  max-height: 200px;
  padding: 10px;
}

.filter-option {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option input[type="radio"] {
  cursor: pointer;
}

.filter-option label {
  cursor: pointer;
} 